@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

:root {
   --blue-main: #3C79AF;
   --blue-glow: rgba(51, 153, 255, 0.6);
}

.font-leaguespartan {
  font-family: 'League Spartan', sans-serif;
}

.shadow-glow {
  box-shadow: 0 0 15px var(--blue-glow);
}

.transition-scaleGlow {
  transition: all 0.3s ease;
}

.group:hover .hover-shift-blue {
  color: var(--blue-main);
  transform: translateX(5px);
  transition: all 0.1s ease;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
}

.text-glow {
  transition: all 0.2s ease;
}

.group:hover .text-glow {
  color: var(--blue-main);
  text-shadow: 0 0 8px var(--blue-main), 0 0 15px var(--blue-glow);
}